html,
body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 4em;
}

h1:after {
  content: '€';
  color: #ccc;
  padding-left: 0.2em;
}
